# Pie Charts, Box Plots, Scatter Plots, and Bubble Plots

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_excel("/Users/oktavianu/Data-Science/data-visualization/Canada.xlsx",
                   sheet_name="Canada by Citizenship",
                   skiprows=range(20),
                   skipfooter=2)

data.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [9]:
# checking dimension
data.shape

(195, 43)

Clean up data. We will make some modifications to the original dataset to make it easier to create our visualizations.

In [10]:
# remove unnecessary columns
data.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)

# Rename columns
data.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)

# consistency: columns' label as string
data.columns = list(map(str, data.columns))

# set country name as index for quickly looking up countries using .loc method
data.set_index('Country', inplace=True)

# add 'Total' Column
data['Total'] = data.select_dtypes(include='number').sum(axis=1)

In [11]:
# years that we will be using, useful for plotting
years = list(map(str, range(1980, 2014)))

In [13]:
print("Data dimensions:", data.shape)

Data dimensions: (195, 38)

## Visualizing Data using Matplotlib

In [14]:
# import matplotlib
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use("ggplot")

### Pie Charts
A pie chart is a circular graphic that displays numeric proportions by dividing a circle (or pie) into proportional slices.  We can create pie charts in Matplotlib by passing in the kind=pie keyword.

Let's use a pie chart to explore the proportion (percentage) of new immigrants grouped by continents for the entire time period from 1980 to 2013.

####  Step 1: gather data
We will use pandas groupby method to summarize the immigration data by Continent. The general process of groupby involves the following steps:
1) **Split**: Splitting the data into groups based on some criteria.
2) **Apply**: Applying a function to each group independently: .sum() .count() .mean() .std() .aggregate() .apply() .etc..
3) **Combine**: Combining the result into data strucure

In [16]:
# group countries by continents and apply sum() function 
data_continents = data.groupby('Continent', axis=0).sum()

/var/folders/t_/sytlwc3j6zzc5zwy80b9d1zh0000gn/T/ipykernel_3358/522831233.py:2: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  data_continents = data.groupby('Continent', axis=0).sum()

In [17]:
# note: the output of the groupby method is a `groupby' object. 
# we can not use it further until we apply a function (eg .sum())
print(data.groupby('Continent', axis=0))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x122d41610>

/var/folders/t_/sytlwc3j6zzc5zwy80b9d1zh0000gn/T/ipykernel_3358/3088328240.py:3: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  print(data.groupby('Continent', axis=0))

In [18]:
data_continents.head()

,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,Northern AfricaMiddle AfricaWestern AfricaSout...,Developing regionsDeveloping regionsDeveloping...,3951,4363,3819,2671,2639,2650,3782,7494,...,27523,29188,28284,29890,34534,40892,35441,38083,38543,618948
Asia,Southern AsiaWestern AsiaWestern AsiaWestern A...,Developing regionsDeveloping regionsDeveloping...,31025,34314,30214,24696,27274,23850,28739,43203,...,159253,149054,133459,139894,141434,163845,146894,152218,155075,3317794
Europe,Southern EuropeSouthern EuropeWestern EuropeEa...,Developed regionsDeveloped regionsDeveloped re...,39760,44802,42720,24638,22287,20844,24370,46698,...,35955,33053,33495,34692,35078,33425,26778,29177,28691,1410947
Latin America and the Caribbean,CaribbeanSouth AmericaCaribbeanCaribbeanCentra...,Developing regionsDeveloping regionsDeveloping...,13081,15215,16769,15427,13678,15171,21179,28471,...,24747,24676,26011,26547,26867,28818,27856,27173,24950,765148
Northern America,Northern AmericaNorthern America,Developed regionsDeveloped regions,9378,10030,9074,7100,6661,6543,7074,7705,...,8394,9613,9463,10190,8995,8142,7677,7892,8503,241142

#### Plot the data. We will pass in kind = 'pie' keyword, along with the following additional parameters:

-  autopct - is a string or function used to label the wedges with their numeric value. The label will be placed inside the wedge. If it is a format string, the label will be fmt%pct.
- startangle - rotates the start of the pie chart by angle degrees counterclockwise from the x-axis.
- shadow - Draws a shadow beneath the pie (to give a 3D feel).